/* The styles of the Logo */
.logo-outer {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border: 12px solid #000;
  border-radius: 240px;
}

.logo-inner {
  width: 0px;
  height: 0px;
  margin: 96px auto 0 auto;
  border: 12px solid #000;
  border-radius: 30px;
}